body {
    background-color: none;
/*  revised  */
}

#header{
    width:100%;
    background-color: beige;
}
#header > h1{
    margin: 0;
}
#nav{
    width:100%;
    background-color: aqua;
}

.menu{
    display:flex;
    background:#8cc5f7;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

#main-content-wrapper {
    background-color: greenyellow;
    width: 80%
        
}
#middle-wrapper{
    display: flex
}

#aside-content-wrapper {
   background-color: plum;
    width: 20%;
}


footer{
  background-color: coral;
      margin:0;
      
}

footer > h1{
    margin: 0;
}

